# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

# file options

# --exclude Tests/XCTestManifests.swift,Snapshots
--exclude Pods,Generated

# format options 
--stripunusedargs closure-only
--allman false
--indent 4
--indentcase true
--wraparguments after-first
--wrapparameters after-first
--wrapcollections after-first
--closingparen balanced


# disable
--disable emptyBraces
--disable numberFormatting
--disable redundantInit
--disable redundantLet
--disable redundantRawValues
--disable trailingCommas
--disable unusedArguments
